[Unit]
Description=Azure Hibernation Agent

[Service]
Type=simple
ExecStart=/usr/sbin/az-hibernate-agent
RemainAfterExit=false
StandardOutput=journal

[Install]
WantedBy=multi-user.target
