[Unit]
Description=Hibernation Setup Tool
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/hibernation-setup-tool
RemainAfterExit=false
StandardOutput=journal

[Install]
WantedBy=multi-user.target
