Source: hibernation-setup-tool
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9.20160709), pandoc
Maintainer: Leandro Pereira <leandro.pereira@microsoft.com>
Standards-Version: 4.5.0

Package: hibernation-setup-tool
Architecture: amd64
Homepage: https://github.com/microsoft/hibernation-setup-tool/
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: btrfs-progs, xfsprogs, grub2, udev, e2fsprogs, systemd
Description: Azure Hibernation Agent
 Sets up an Azure VM for hibernation, by creating and maintaining a
 swap file with the proper size, setting up bootloader parameters,
 etc.
