name: C/C++ CI

on:
  push:
    branches: [ main, "dev/**"  ]
  pull_request:
    branches: [ main, "dev/**"  ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive # Ensures that submodules are also checked out
        
    - name: Install Check
      run: |
        sudo apt-get install -y check check subunit

    - name: Run make to build project
      run: make

    - name: Compile and run unit tests
      run: |
        # Compile the code with unit testing flags
        gcc -DUNIT_TESTING -D_GNU_SOURCE -D_XOPEN_SOURCE=700 \
        -o hibernation-setup-tool-test hibernation-setup-tool-test.c hibernation-setup-tool.c \
        -lcheck -lsubunit -lm -pthread
        if [ $? -ne 0 ]; then
            echo "Compilation failure."
            exit 1
        fi

        ./hibernation-setup-tool-test
        if [ $? -ne 0 ]; then
            echo "Unit test failure."
            exit 1
        fi

    - name: Static analysis
      run: |
        sudo apt-get update
        sudo apt-get install -y bear clang-tidy

        bear -- gcc -DUNIT_TESTING -D_GNU_SOURCE -D_XOPEN_SOURCE=700 \
        -o hibernation-setup-tool-test hibernation-setup-tool-test.c hibernation-setup-tool.c \
        -lcheck -lsubunit -lm -pthread

        find . -name '*.c' | xargs clang-tidy --quiet

        if [ $? -ne 0 ]; then
            echo "Static analysis failed."
            exit 1
        fi
